<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">
    <php>
        <const name="PATH_BASE" value="./tests" />
        <const name="PATH_CACHE" value="./tests" />
        <const name="PATH_VENDOR" value="./vendor" />
        <server name="SERVER_NAME" value="localhost" />
    </php>
    <testsuites>
        <testsuite name="core">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
